services:
  db:
    image: postgres:15
    container_name: mis_eventos_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: miseventos
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build: ./backend
    container_name: mis_eventos_backend
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    volumes:
      - ./backend:/code
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db
      - redis
  redis:
    image: redis:7
    container_name: mis_eventos_redis
    ports:
      - "6379:6379"
  frontend:
    build: ./frontend
    container_name: mis_eventos_frontend
    ports:
      - "4200:4200"
    depends_on:
      - backend

volumes:
  postgres_data:


